
.main {
    font: 1em consolas;
}

.primary-colors {
    background-color: #112;
    color: white;
}

.primary-colors input {
    background-color: #338;
    color: white;
    width: max-content;
    border-radius: 0.2vw;
    border: none;
    outline: none;
}

.primary-colors .error {
    background-color: red;
    border: .1rem solid red
}

.primary-colors .warn {
    background-color: yellow;
}

.primary-colors button {
    background-color: #338;
    color: white;
    width: max-content;
    border-radius: 0.2vw;
    border: none;
    outline: none;
}

.primary-colors :focus {
    background-color: goldenrod;
}

.section {
    margin-left: 2ch;
    margin-right: 2ch;
    width: max-content;
    padding: .1rem;
    padding-right: 1rem;
}

.primary-colors .section:not(.hidden):has(*) {
    border: .1rem #896814 solid;
    border-radius: .5rem;
}

.array {
    margin-left: 0;
    padding-left: 1ch;
    margin-top: 0;
    margin-bottom: 0;
}

.array > li {
    padding-left: 1ch
}

.array > li::marker {
    content: "-";
    width: 2ch;
    padding: auto;
}

.enum-value-container {
    display: inline-block;
}

.autocomplete-menu {
    display: none;
    position: absolute;
    background-color: #338;
    width: min-content;
    border: .1rem goldenrod solid;
    margin: .1rem 0 .1rem 0;
    padding-left: 0;
}

.autocomplete-menu.active {
    display: block;
}

.autocomplete-menu li::marker {
    content: none;
}

button.autocomplete-choice {
    width: 100%;
    justify-content: left;
}
button.autocomplete-choice:hover {
    background-color: gold;
}